extends base

mixin projectTypeCard(type)
  - const value = type.split(" ")[0].toLowerCase();
  li.type-card
    input.hidden(form="new-project" id=value type='radio' name='type' value=value)
    label.img-holder(for=value)
      img(src=`/static/img/project-types/${value}.jpg` alt=value)
    p= type
    - if(value === "other")
      label.hidden(for='custom-type') Provide type
      input#custom-type.hidden(form="new-project" type='text' name='custom-type' placeholder='.........')

block append head 
  link(rel='stylesheet' href='/static/css/create.css')
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="")
  script(defer src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="")
  script(type="module" src="/static/js/create.js")

block content
  main
    section.intension
      .content-stripe
        .project-name
          label.hidden(for='name') Your projects name
          input#name(form="new-project" type='text' name='name' placeholder='Your projects name' required)
          p
            | Lead by 
            span.leader-name= user.name
        .project-summary
          div
            label(for='summary') Summary
            textarea#summary(form="new-project" name='summary' rows='5' placeholder='Be short, but expressive (for search results)' maxlength='160' required)
        .project-description
          label(for='description') Description
          textarea#description(form="new-project" name='description' rows='10' placeholder='Tooooo long texts get rarely read to the end...' required)
          
    section.type
      .content-stripe
        h2 Which type represents at best your project?
        .type-card-container
          ul
            - const types = ["Developement", "Rebuild / Renovation", "Rescue", "Social", "Other"]
            each type in types 
              +projectTypeCard(type)

    section.location
      .content-stripe
        .location-descriptor
          h2 Location
          p
            | Please point on the map where the location of your project takes
            | place. (Ctrl + click)
            br
            br
            | Or you can give the exact coordinates.
            |                 (Latitude, Longitude)
          .location-input
            label.hidden(for='location-point') Location Point
            input#location-point(form="new-project" type='text' name='location-point' placeholder='68.085135, 18.301253' required)
            button.add-location &gt;
        #map
    section.milestones
      .content-stripe
        h2 Milestones
        .milestone-bubbles
          ul.milestone-bubbles-list
        .milestone-inputs
          label
            img(src='/static/img/icons/add.png' alt='add-img')
            input#add-milestone-img.hidden(type='file' accept='image/*' name='milestone-img')
          .milestone-name-input
            label.hidden(for='milestone-name') Milestone name
            input#milestone-name(type='text' name='milestone-name' placeholder='Name of the milestone')
            button.add-milestone ADD
    section.resources
      .content-stripe
        h2 Resources
        ul.resources-icons
          each resource in resourceNames 
            li
              div
                input.hidden(id=resource form="new-project" type='checkbox' name='resource' value=resource)
                .icon-holder(data-name=resource)
                  img(src=`/static/img/icons/res_${resource}.png` alt=resource)
                  p= resource
                label(for=resource)
        form#resources-details-form.hidden
          .resources-details
            .settings
              .priority.option
                span Priority
                .selection-bar
                  label
                    input.hidden(type='radio' name='priority' value='1' checked='')
                  label
                    input.hidden(type='radio' name='priority' value='2')
                  label
                    input.hidden(type='radio' name='priority' value='3')
                  label
                    input.hidden(type='radio' name='priority' value='4')
                  label
                    input.hidden(type='radio' name='priority' value='5')
              .limit.option
                span Limit
                div
                  label.hidden(for='limit-min') Minimum value
                  input#limit-min(type='text' name='limit-min' placeholder='Min')
                  label.hidden(for='limit-max') Maximum value
                  input#limit-max(type='text' name='limit-max' placeholder='Max')
              .authenticate.option
                label(for='authenticate') Authentication required
                input#authenticate(type='checkbox' name='authenticate')
            .notes
              label.hidden(for='notes') Notes
              textarea#notes(name='notes' rows='10' placeholder='Some inportant notes for the required resource (its optional, but highly recommended!)')
          button.control-btn Apply changes
        .resources-user-info 
          p 
            | Select all resources which you need for your project by selecting/deselecting the buttons bellow the icons
            br
            | Select a resource to edit by clicking on the icon. (Inputs are optional)
            
    section.deadline
      .deadline-bg
      .content-stripe
        .header
          h2 Deadline
          span (optional)
        label.hidden(for='deadline-input') Time limit of project
        input#deadline-input(form="new-project" type='date' name='deadline')
    section.media
      .media-bg
      .content-stripe
        .header
          h2 Media
          span Photos / Videos
        .upload-panel
          .upload-media-col
            img.icon(src='/static/img/icons/photo.png' alt='photo icon')
            p
              | The first image gets the cover image, the second is for search
              | results. Both are required.
            .media-container
              label.media-frame
                img(src='/static/img/icons/add.png' alt='add cover image')
                input.hidden(form="new-project" type='file' accept='image/*' name='cover-image' required)
              label.media-frame
                img(src='/static/img/icons/add.png' alt='add search result image')
                input.hidden(form="new-project" type='file' accept='image/*' name='result-image' required)
          .upload-media-col
            img.icon(src='/static/img/icons/video.png' alt='video icon')
            p
              | Show your vision trough videos. They are 
              span.express optional 
              | and gets uploaded to
              | your projects feed.
            .media-container
              label.media-frame
                img(src='/static/img/icons/add.png' alt='presentation video 1')
                input.hidden(form="new-project" type='file' accept='video/mp4' name='video1')
              label.media-frame
                img(src='/static/img/icons/add.png' alt='presentation video 2')
                input.hidden(form="new-project" type='file' accept='video/mp4' name='video2')
        p.upload-info
          | You can upload more pictures and 
          br
          | videos in your feed after
          |               publishing.
    .publicate
      .publicate-bg
      .content-stripe
        form#new-project
          button.btn-publicate Publish