extends base

mixin resultCard(project)
  a.result-card(href=`/project/${project.slug}`)
    .card-bg
      img(src=`/media/projects/content/${project.resultImg}` alt='background image')
    h2.card-header= project.name
    .card-content
      p.summary= project.summary
      .resources
        h3 Resources Needed
        ul
          - for(const resource of project.resources)
            li
              img(src=`/static/img/icons/res_${resource.name}.png`)
    p.card-footer
      | Lead by
      | 
      span.leader-name= project.leader.name

block append head 
  link(rel='stylesheet' href='/static/css/mini/search.css')
  script(type="module" src="/static/js/modern/search.js")
  script(nomodule src="/static/js/legacy/search.js")

block hero
    .hero
      .content-stripe
        .hero-message
          p
            | Search 
            sub and rescue
            br
        form.search-form
          .hero-searchbar
            label.hidden(for='search') Searchfield
            input#search(type='text' name='search')
            button.btn-search Find Project
          .filter-options
            h3 Filter Options
            .filter-inputs
              label(for='type') Type
              select#type(name='type')
                option(value='any') Any
                option(value='social') Social
                option(value='rescue') Rescue
                option(value='rebuild') Rebuild
                option(value='development') Development
                option(value='other') Other
              label(for='location') Location
              input#location(type='text' name='location' placeholder='City, Land, Place name...')
              label(for='perimeter') - in perimeter
              input#perimeter(type='text' name='perimeter' placeholder='km')
            
block content
  main
    .content-stripe
      p.search-query-text= searchQueryText 
      .search-results
         each project in projects
            +resultCard(project)
      .pagination
        nav
          li
            a.prev-results(class= (page === 1 ? 'disabled' : '') href= (page === 1 ? undefined : `/search${queryStr}&page=${page - 1}`)) < Prev
          li
            p.actual-page= page
          li
            a.next-results(class= (projects.length < 10 ? 'disabled' : '') href= (projects.length < 10 ? undefined : `/search${queryStr}&page=${page + 1}`)) Next >